force-app/main/default/flows/Create_Account_with_multiple_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Contacts</name>
        <label>Assign Values to Contacts</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Contact1.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_for_Contact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_for_Contact2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_for_Contact3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_for_Creating_Contacts</name>
        <label>Decision for Creating Contacts</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account with multiple Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Decision_for_Creating_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>screen</targetReference>
        </connector>
        <inputReference>contactList</inputReference>
    </recordCreates>
    <screens>
        <name>Account_Info_screen</name>
        <label>Account Info screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_want_to_create_Contacts</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to create Contacts?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Contacts</targetReference>
        </connector>
        <fields>
            <name>Last_Name_for_Contact1</name>
            <dataType>String</dataType>
            <fieldText>Last Name for Contact1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_for_Contact2</name>
            <dataType>String</dataType>
            <fieldText>Last Name for Contact2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_for_Contact3</name>
            <dataType>String</dataType>
            <fieldText>Last Name for Contact3</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>contact success message</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 124, 34);&quot;&gt;The following Contacts has been Created &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 124, 34);&quot;&gt;contactList: {!contactList}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMesage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An Account with ID &lt;/strong&gt;&lt;strong style=&quot;color: rgb(22, 17, 205);&quot;&gt;{!Create_Account}  &lt;/strong&gt;&lt;strong&gt;has been created ..&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Name :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(31, 24, 214);&quot;&gt; {!Account_Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Info_screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
