force-app/main/default/flows/Create_new_Contact_with_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create new Contact with Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create new Contact with Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>new_Contact</name>
        <label>new Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>destinaII</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>OzgurII</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_acc</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>new_acc</name>
        <label>new acc</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>new_Contact</targetReference>
        </connector>
        <flowName>create_new_Contact</flowName>
        <inputAssignments>
            <name>accName</name>
            <value>
                <stringValue>toyota</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>acId</assignToReference>
            <name>AcId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>acId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
