force-app/main/default/flows/create_new_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>acc  of ar more than or equal to 1000000 has been created</description>
        <name>Annuelrevenue_1000000</name>
        <label>Annuelrevenue 1000000</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <dateValue>2023-09-27</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Annual_Revenue_More_Than_1000000</name>
        <label>Annual Revenue More Than 1000000?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>AR less than 1000000</defaultConnectorLabel>
        <rules>
            <name>AR_more_than_1000000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>annuel_Revenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annuelrevenue_1000000</targetReference>
            </connector>
            <label>AR more than 1000000</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_account_is_created</name>
        <label>if account is created</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>secreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_account</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>secreen</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>create new account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create new account with task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_account</name>
        <label>create account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>if_account_is_created</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>annuel_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>account_name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>screen_A</name>
        <label>screen A</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_account</targetReference>
        </connector>
        <fields>
            <name>account_name</name>
            <dataType>String</dataType>
            <fieldText>account name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>annuel_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>annuel Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>secreen</name>
        <label>secreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annual_Revenue_More_Than_1000000</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;ACCOUNT has been CREATED SUCCESSFULLY&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ACCOUNTID:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(99, 234, 27);&quot;&gt;{!create_account}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>secreen2</name>
        <label>secreen2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annual_Revenue_More_Than_1000000</targetReference>
        </connector>
        <fields>
            <name>unsuccessMessAGE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(246, 30, 31);&quot;&gt;ERROR OCCURED&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(246, 30, 31);&quot;&gt;Account in not created..&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_A</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
