force-app/main/default/flows/Create_new_Contact_with_Mailing_and_Other_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>OtherCity</name>
        <dataType>String</dataType>
        <expression>IF( {!IsMailingAddressSameasOtherAddress.value} =True,{!Mailing_City} ,&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>OtherCountry</name>
        <dataType>String</dataType>
        <expression>IF( {!IsMailingAddressSameasOtherAddress.value} =True,{!Mailing_Country} ,&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>OtherState</name>
        <dataType>String</dataType>
        <expression>IF( {!IsMailingAddressSameasOtherAddress.value} =True, {!Mailing_State_Province} ,&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>OtherStreet</name>
        <dataType>String</dataType>
        <expression>IF( {!IsMailingAddressSameasOtherAddress.value} =True,{!Mailing_Street} ,&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>OtherZipCode</name>
        <dataType>String</dataType>
        <expression>IF( {!IsMailingAddressSameasOtherAddress.value} =True, {!Other_Zip_Postal_Code} ,&apos;&apos; )</expression>
    </formulas>
    <interviewLabel>CREATE NEW CONTACT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create new Contact with Mailing and Other Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>first_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Mailing_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Other_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Other_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Other_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Other_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Other_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mailing_Address_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>first_Name</name>
            <dataType>String</dataType>
            <fieldText>first Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>last_Name</name>
            <dataType>String</dataType>
            <fieldText>last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mailing_Address_Info_Screen</name>
        <label>Mailing Address Info Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Toogle_Screen</targetReference>
        </connector>
        <fields>
            <name>Mailing_Street</name>
            <fieldText>Mailing Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Country</name>
            <dataType>String</dataType>
            <fieldText>Mailing Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_City</name>
            <dataType>String</dataType>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_State_Province</name>
            <dataType>String</dataType>
            <fieldText>Mailing State/ Province</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Mailing Zip / Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Address_Screen</name>
        <label>Other Address Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Other_Street</name>
            <defaultValue>
                <stringValue>{!OtherStreet}</stringValue>
            </defaultValue>
            <fieldText>Other Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OtherCity</elementReference>
            </defaultValue>
            <fieldText>Other City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_State_Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OtherState</elementReference>
            </defaultValue>
            <fieldText>Other State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OtherZipCode</elementReference>
            </defaultValue>
            <fieldText>Other Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OtherCountry</elementReference>
            </defaultValue>
            <fieldText>Other Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Toogle_Screen</name>
        <label>Toogle Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Address_Screen</targetReference>
        </connector>
        <fields>
            <name>IsMailingAddressSameasOtherAddress</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is mailing address same as other address?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
