force-app/main/default/flows/Login_fLoW_Update_user_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ASssign_User_Info_Values</name>
        <label>ASssign User Info Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>get_ssession.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_ssession.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_ssession.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Session_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Login fLoW Update user Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login fLoW Update user Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_ssession</name>
        <label>GET  ssession USER</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Session_User</name>
        <label>update Session User</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>get_ssession</inputReference>
    </recordUpdates>
    <screens>
        <name>user_Info</name>
        <label>user Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASssign_User_Info_Values</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fax</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ssession</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
