force-app/main/default/flows/pratik_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_colors</name>
        <label>add colors</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>colors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>blue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>red</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>black</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_colors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_to_upercase</name>
        <label>update to upercase</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>updatedColor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateEachColor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_colors</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pi</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.14</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>maxNo</name>
        <dataType>Number</dataType>
        <expression>MAX(3,99)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updateEachColor</name>
        <dataType>String</dataType>
        <expression>UPPER({!loop_colors})</expression>
    </formulas>
    <interviewLabel>pratik Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pratik Flow</label>
    <loops>
        <name>loop_colors</name>
        <label>loop colors</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>colors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_to_upercase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scrreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scrreen</name>
        <label>scrreen</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show</name>
            <fieldText>&lt;p&gt;{!colors}&lt;/p&gt;&lt;p&gt;{!updatedColor}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_colors</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>acList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>colors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-09-11</dateValue>
        </value>
    </variables>
    <variables>
        <name>dttime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2023-10-15T16:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>eligible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Destina</stringValue>
        </value>
    </variables>
    <variables>
        <name>fN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>updatedColor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>x</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>y</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
