force-app/main/default/flows/Send_Email_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Birthday_Email</name>
        <label>Send Birthday Email</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AllEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Birthday msg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>prazdnıkom tebye...</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Insert_Email_Addreses_in_List</name>
        <label>Insert Email Addreses in List</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>AllEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_of_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_of_Contacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Message</label>
    <loops>
        <name>Loop_of_Contacts</name>
        <label>Loop of Contacts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_all_Contact_who_has_Birthday</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insert_Email_Addreses_in_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Birthday_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Contact_who_has_Birthday</name>
        <label>Get all Contact who has Birthday</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_of_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsBirthday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Contact_who_has_Birthday</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-21</startDate>
            <startTime>19:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
