force-app/main/default/flows/SF_Quiz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Correct_A</name>
        <label>Correct Answer  Assignment</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TotatlCorrectQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Index_Assignment</name>
        <label>Question Index ++</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>QuestionIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Questions_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Questions_Assignment</name>
        <label>Total Questions Assignment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>TotalQuestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Score</name>
        <label>Update Score</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OptionA</name>
        <choiceText>{!Loop_for_Questions.Option_A__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Loop_for_Questions.Option_A__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionB</name>
        <choiceText>{!Loop_for_Questions.Option_B__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Loop_for_Questions.Option_B__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionC</name>
        <choiceText>{!Loop_for_Questions.Option_C__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Loop_for_Questions.Option_C__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>OptionD</name>
        <choiceText>{!Loop_for_Questions.Option_D__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Loop_for_Questions.Option_D__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Quiz_status</name>
        <label>Quiz status</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>IF_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Questions.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OptionValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_A</targetReference>
            </connector>
            <label>IF Correct</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF Quiz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Quiz</label>
    <loops>
        <name>Loop_for_Questions</name>
        <label>Loop for Questions</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question_Index_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quiz_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Questions_Assignment</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Success_screen</name>
        <label>Copy 1 of Success screen</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_for_Questions</targetReference>
        </connector>
        <fields>
            <name>falseMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(220, 29, 60); font-size: 16px;&quot;&gt;          &lt;/strong&gt;&lt;strong style=&quot;color: rgb(220, 29, 60); font-size: 20px;&quot;&gt; InCorrect!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;       &lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 179, 28);&quot;&gt;   Score : {!Score}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 26, 213);&quot;&gt;Question: {!Loop_for_Questions.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(42, 145, 25);&quot;&gt;          Correct Answer:    {!Loop_for_Questions.Correct__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(187, 25, 24);&quot;&gt;Your answer:{!OptionValue}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen</name>
        <label>Questions Screen</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quiz_status</targetReference>
        </connector>
        <fields>
            <name>QuestionIndexForQuiz</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(194, 23, 169);&quot;&gt;Question: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!QuestionIndex}/{!TotalQuestions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Questions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(35, 47, 179);&quot;&gt;QUESTION {!QuestionIndex}: &lt;/strong&gt;&lt;strong&gt;{!Loop_for_Questions.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptionValue</name>
            <choiceReferences>OptionA</choiceReferences>
            <choiceReferences>OptionB</choiceReferences>
            <choiceReferences>OptionC</choiceReferences>
            <choiceReferences>OptionD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Object_Limits</name>
        <label>Quiz : Object Limits</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
        <fields>
            <name>QuizInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(35, 12, 205);&quot;&gt;Quiz Name&lt;/strong&gt; : Object Limits&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(53, 31, 218);&quot;&gt;Timed&lt;/strong&gt; :No&lt;/p&gt;&lt;p&gt;Each question carries 10 points&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start Quiz</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Result</name>
        <label>Quiz Result</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuizResult</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(219, 33, 196);&quot;&gt;User: {!$User.FirstName}   {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(246, 90, 17);&quot;&gt;Email: {!$User.Email}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quiz Name: Object Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(58, 20, 214);&quot;&gt;      Score: {!Score}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(54, 198, 22);&quot;&gt;     Correct Answers: {!TotatlCorrectQuestions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_for_Questions</targetReference>
        </connector>
        <fields>
            <name>correctMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(23, 219, 16); font-size: 20px;&quot;&gt;  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(23, 219, 16); font-size: 24px;&quot;&gt; Correct!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;    Score : &lt;/strong&gt;&lt;strong style=&quot;color: rgb(221, 36, 162);&quot;&gt;{!Score}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quiz_Object_Limits</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>QuestionIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotatlCorrectQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
