force-app/main/default/flows/update_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_rating_and_add_empty_list</name>
        <label>Assign rating and add empty list</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_leads.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_rating_and_add_empty_list</name>
        <label>Copy 1 of Assign rating and add empty list</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_leads.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>does_lead_have_email</name>
        <label>does lead have email</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_rating_and_add_empty_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_leads.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rating_and_add_empty_list</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update leads</label>
    <loops>
        <name>Loop_leads</name>
        <label>Loop leads</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>does_lead_have_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Leads</name>
        <label>get Leads</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_leads</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_leads</name>
        <label>update leads</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>leadsUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Leads</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>leadsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
